{
  "version" : "4.0.1",
  "song" : {
    "title" : "",
    "subTitle" : "",
    "author" : ""
  },
  "audio" : {
    "songFilename" : "song.ogg",
    "songDuration" : 0,
    "audioDataFilename" : "AudioData.dat",
    "bpm" : 100,
    "lufs" : 0,
    "previewStartTime" : 12,
    "previewDuration" : 10
  },
  "songPreviewFilename" : "song.ogg",
  "coverImageFilename" : "",
  "environmentNames" : [
    "DefaultEnvironment"
  ],
  "colorSchemes" : [
  ],
  "difficultyBeatmaps" : [
  ]
}